h2 {
    text-align: center;
}
h1 {
    text-align: center;
}

header{
    background-color:black;
    color:white;
}
body{
    background-color: gray;
    color: white;
}
div{
    text-align: center;
}
h3{
    text-align: center;
}